html, body 
{
  height: 100%;
  margin: 0;
  padding: 0;
}
#map 
{
  height: 100%;
  width: 100%;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
 #floating-panel {
        position: absolute;
        top: 5px;
        left: 55%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
}

#target {
        width: 345px;
}

#topBar
{
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: pink; 
}

#lewyPanel{
  position: fixed;
  top: 7%;
  right: 0;
  width: 45%;
  height: 93%;
  float: right;
  background-color: green;

}

#prawyPanel{
  position: fixed;
  left: 0;
  top: 7%;
  width: 55%;
  height: 93%;
  background-color: blue;
}



html, body 
{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#map 
{
  height: 100%;
  width: 100%;
}

#forma{
  	margin-left: 5px;
}

.tytol{
	text-align: center;
	background: white;
	width: 100%;
	padding-top: 5px;
	height: 30px;
	font-style: bold;
    font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
}

.kategoria{
	width: 90%;
	height: 25px;

}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
 #floating-panel {
        position: absolute;
        top: 5px;
        left: 55%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
}

#target {
        width: 345px;
}

.spin{
	width: 60px;
	display: inline-block;
	margin: auto;
}

.nazwa
{
	width:90%;
	margin-left:2%;
}

#kategorie{
	width:94%;
	margin-left:4%;
	font-size: 14px;
}

#topBar
{
  position: fixed;
  top: 0;
  padding-top: 9px;
  width: 100%;
  height: 7%;
  background-color: #2a2a2a; 
  text-align: center;
  color: white;
  
  font-style: bold;
  font-size: 20px;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}


#lewyPanel{
  position: fixed;
  top: 7%;
  right: 0;
  width: 45%;
  height: 93%;
  float: right;
  color: #767676;
  background-color: white;
  border: black 1px solid;

}

#prawyPanel{
  position: fixed;
  left: 0;
  top: 7%;
  width: 55%;
  height: 93%;
  background-color: blue;
}

.button{
	width:100%;
	

}
